<h1>Most popular monkeys</h1>
<div class="monkeys">
    {{#each monkeys}}
    <div class="monkey">
        <h2>{{name}}</h2>
        <img src="{{image}}" alt="{{name}}" width="340px" height="240">
        <button onclick="display(this)">Info</button>
        <p class="collapsible" style="display: none" id="{{id}}">
            {{info}}
        </p>
    </div>
    {{/each}}
</div>
